html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    position: static;
}

#container {
    background: linear-gradient(45deg, white,grey, black);
    display: flex;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    border-width: 5px;
    min-width: 250px;
    width:300px;
    height:80px;
    left: 25%;
    top: 6%;
    position: fixed;
    justify-content: center;
    align-items: center;
    
    #header {
      display: flex;
      font-size: 50px;
      position: absolute;
   }
}


#myButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 30px;
    position: fixed;
    z-index: 1;
    left: 90%;
    top:6%;
  }
  
  .line {
    background-color: black;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  
  .line:nth-child(1) {
    top: 0;
    transition: all 0.5s ease-out;
  }
  
  .line:nth-child(2) {
    top: 13px;
    transition: all 0.5s ease-out;
  }
  
  .line:nth-child(3) {
    top: 26px;
    transition: all 0.5s ease-out;
  }

  #myButton.active .line:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
  transition: all 0.5s ease-out;
}

#myButton.active .line:nth-child(2) {
  transform: rotate(-45deg);
  top: 13px;
  transition: all 0.5s ease-out;
}

#myButton.active .line:nth-child(3) {
  opacity: 0;
  transition: all 0.5s ease-out;
}
  
#slide_border {
  border-style: solid;
  border-width: 5px;
  justify-items: left;
  height: 100vh;
  width:100%;
  left:100%;
  padding-top: 3%;
  transition: all 0.5s ease-out;
  position: fixed;
}

.slide_items{
  position: absolute;
  display: flex;
  font-size: 40px;
  margin-left: 2%;
}

.slide_items.animate__bounceInRight{
  animation-duration: 0.9s;
}

#slide_border.active{
  left: 80%;
  transition: all 0.5s ease-out;
}

.item_btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 5%;
  margin-left: 2%;
  padding-bottom: 8rem;
  justify-content: center;
  position: relative;
}

#input {
  position: fixed;
  display:grid;
  min-width: 250px;
  width:300px;
  height:80px;
  left: 25%;
  top: 18%;
  justify-content: center;
}

.my_input {  
  height: 45px;
  margin-top: 4%;
  margin-bottom: 4%;
}

::placeholder{
  text-align: center;
  opacity: 100%;
  color: black;
  font-size: large;
}

@keyframes itemsSlide {
  100% {opacity: 100;}
}